<VirtualHost *:443>
   ServerName {{ inventory_hostname }}
   DocumentRoot /var/www/{{ inventory_hostname }}/html
   SSLEngine on
   SSLCertificateFile /etc/pki/tls/certs/{{ inventory_hostname }}.crt
   SSLCertificateKeyFile /etc/pki/tls/private/{{ inventory_hostname }}.key
</VirtualHost>
