global_defs {
   router_id {{ ansible_hostname }} 
}

vrrp_script chk_haproxy {
   script "pidof haproxy"   # verify the pid existance
   interval 2                    # check every 2 seconds
   weight 2                      # add 2 points of prio if OK
}

vrrp_instance VI_1 {
   interface {{ keepalived_bind_interface }}                # interface to monitor
   state {{ keepalived_state }}
   advert_int 1
   virtual_router_id 51          # Assign one ID for this route
   priority {{ keepalived_priority }} 
   unicast_peer {
       {{ peer_ip }} # peer IP
   }
                
   virtual_ipaddress {
       {{ keepalived_vip }} dev {{ keepalived_bind_interface }} # the virtual IP
   }
   track_script {
       chk_haproxy 
   }
}
