global
  log /dev/log  local0
  log /dev/log  local1 notice
  stats socket /var/lib/haproxy/stats level admin
  chroot /var/lib/haproxy
  user haproxy
  group haproxy
  daemon

defaults
  log global
  mode  http
  option  httplog
  option  dontlognull
        timeout connect 5000
        timeout client 50000
        timeout server 50000

frontend catsfood_front
    bind *:443 ssl crt /etc/pki/tls/certs/{{ ansible_hostname }}.pem
    mode http
    acl acl_catsfood hdr(host) -i catsfood.com
    use_backend catsfood_back if acl_catsfood
    acl acl_gianthead hdr(host) -i gianthead.com
    use_backend gianthead_back if acl_gianthead

backend catsfood_back
    mode http
    balance roundrobin
    option forwardfor
    server cats.com 192.168.10.10:443 cookie catsfood.com check ssl ca-file /etc/pki/ca-trust/source/anchors/yaelCA.crt

backend gianthead_back
    mode http
    balance roundrobin
    option forwardfor
    server giant.com 192.168.10.11:443 cookie gianthead.com check ssl ca-file /etc/pki/ca-trust/source/anchors/yaelCA.crt

